coverage/
doc/YDocker.html
doc/YDocker/ChangesDialog.html
doc/YDocker/CommitDialog.html
doc/YDocker/InjectShellDialog.html
doc/YDocker/MainDialog.html
doc/YDocker/RunImageDialog.html
doc/_index.html
doc/autodocs
doc/class_list.html
doc/css/common.css
doc/css/full_list.css
doc/css/style.css
doc/file.README.html
doc/file_list.html
doc/frames.html
doc/index.html
doc/js/app.js
doc/js/full_list.js
doc/js/jquery.js
doc/method_list.html
doc/top-level-namespace.html
package/*.tar.*
*.pot
.yardoc/
